#root {
  text-align: center;
  background-color: #342d2dfa;
}

.app {
    text-align: center;
    background-color: #342d2dfa;
  }
  
.map-container {
    height: 400px;
    width: 100%;
    background-color: #342d2dfa;
}

.button {
  margin: 10px;
}
  